target/munitworkingdir-151863190198500/META-INF/mule-src/ping_pong/src/main/mule/pingpong.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="pingpong-config" api="resource::2cbdcd0f-b1a2-423a-b742-ce273a634811:ping_pong:1.0.0:raml:zip:ping_pong.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="pingpong-main">
        <http:listener config-ref="ping_pong-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="pingpong-config" />
    </flow>
    <flow name="get:\ping:pingpong-config">
		<flow-ref doc:name="Flow Reference" doc:id="c93a7054-ebb7-456e-805e-cc87d800eca9" name="get_ping"/>
    </flow>
    <flow name="get:\pong:pingpong-config">
		<flow-ref doc:name="Flow Reference" doc:id="2f58df10-23d4-44e1-b96b-1cd36b8d1e39" name="get_pong"/>
    </flow>
</mule>
